body {
    font-family: 'Ubuntu', sans-serif; 
    color: whitesmoke;
    background-image: url(../assets/bg-blk.jpg);
    background-repeat: no-repeat;
}

hr {
    border: 1px solid #CD5C5C;
}

header {
    color: #CD5C5C;
}

a:link {
    color:#CD5C5C;
}

a:visited {
    color:#CD5C5C;
}

.pic {
    height: 350px;
    width: 350px;
}

@media screen and (max-width: 767px) {
    .description {
        display: none;

    }

    .pic {
        height: 200px;
        width: 200px;
    }

    .txt {
        display: none;
    }

}
